<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barriecito&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap" rel="stylesheet">
</head>
<body>
  
</body>
</html>

<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex flex-row justify-content-start">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/studies">Studies</a>
    <a class="navbar-brand" href="/webscraper">Web Scraper Project</a>
    <a class="navbar-brand" href="/todolistapp">TodoList App</a>
    <a class="navbar-brand" href="/articles">Articles</a>



    <div class="container d-flex justify-content-center">
  </div>


  </div>
</nav>